body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    letter-spacing: 1px;
    background:url("../images/college1.jpg");
    background-size: cover;
    background-position-x: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color:  #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

form {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px 40px 40px 40px; /* Adjusted padding for consistency */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 30px; /* Added margin-bottom between forms */
}

label {
    font-size: 1.1em;
    display: block;
    margin-bottom: 5px; /* Reduced margin for label consistency */
    color: black;
}

input, select {
    width: 95%; /* Ensures the input and select fields have the same width */
    padding: 12px; /* Consistent padding for all input/select fields */
    margin-bottom: 15px; /* Reduced margin to make the forms more compact */
    border: none;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    background: #f9f9f9;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.8);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
}

select{
    width: 100%;;
}

input:focus, select:focus {
    outline: none;
    background: #ffffff;
    box-shadow: 0 0 5px #2575fc;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    background-color: #c7a922;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}