<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Signup</title>
    <link rel="stylesheet" href="../static/css/admin.css"> 
</head>
<body>
    <h1>Admin Signup</h1>
    <form action="/admin-signup" method="POST">
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username" placeholder="SomeOne" required><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" placeholder="Some@123" required><br>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>