<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Portal</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Welcome to College Portal</h1>
        <div class="button-group">
            <button onclick="window.location.href='/admin-signup'">Admin</button>
            <button onclick="window.location.href='/student-signup'">Signup</button>
            <button onclick="window.location.href='/login'">Login</button>
        </div>
    </div>
    <script src="../static/js/scripts.js"></script>
</body>
</html>
